/* stocking */


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;200;300;400;500;600;700&display=swap');


body {
    --hue: var(--base-hue, 255);
    --sat: var(--saturation, 1);
    --lit: var(--lightness, 1);
    --ovr: var(--invert-btn, var(--b7));

    --font: /*Spline Sans ALT, */IBM Plex Sans, IBM Plex Sans JP, Spline Sans, Inter, Roboto, Noto Sans, Noto Sans JP, sans-serif;
    --font-code: Spline Sans Mono, Iosevka, JetBrains Mono, Roboto Mono, monospace;
    --font-size: 14px;
    --line-height: calc(var(--font-size) + 4px);

    --font-weight: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 500;

    --trans: 0.15s;
    --trans-function: cubic-bezier(.25,.75,.5,1.25);
}

/* backgrounds */
body,
.primary
{
    /* any additional highlights */
    --b3: var(--hue), calc(var(--sat) * 6%), 28%;

    /* card border */
    --b4: var(--hue), calc(var(--sat) * 8%), 22%;

    /* card */
    --b5: var(--hue), calc(var(--sat) * 9%), 15%;

    /* root */
    --b6: var(--hue), calc(var(--sat) * 12%), 10%;
    --b7: 0, 0%, 0%;
}

/* text */
body,
button
{
    --c1: var(--hue), calc(var(--sat) * 40%), 100%;
    --c2: var(--hue), calc(var(--sat) * 60%), 90%;
    --c3: var(--hue), calc(var(--sat) * 15%), 60%;
    --ov-c1: var(--c1);

    --l2: var(--hue), calc(var(--sat) * 50%), calc(var(--lit) * 79%);
    --l3: var(--hue), calc(var(--sat) * 60%), calc(var(--lit) * 70%);
    --l4: var(--hue), calc(var(--sat) * 70%), calc(var(--lit) * 50%);

    --l2-c: var(--hue), calc(var(--sat) * 50%), calc(clamp(min(0.5), var(--lit), max(1.5)) * 79%);
    --l3-c: var(--hue), calc(var(--sat) * 60%), calc(clamp(min(0.5), var(--lit), max(1.5)) * 70%);
    --l4-c: var(--hue), calc(var(--sat) * 70%), calc(clamp(min(0.5), var(--lit), max(1.5)) * 50%);

    --h2: var(--l2-c);
    --h3: var(--l3-c);
    --h4: var(--l4-c);

    --icon: var(--c2);
}

[data-theme="oled"],
[data-theme="oled"] :is(.primary)
{
    /* card border */
    --b4: var(--hue), calc(var(--sat) * 8%), 8%;

    /* card */
    --b5: var(--hue), calc(var(--sat) * 20%), 2%;

    /* root */
    --b6: 0, 0%, 0%;
    --b7: 0, 0%, 0%;
}

[data-theme="light"]
{
    --font-weight: 500;

    --card-shadow: hsla(var(--b7), 0.05) 0 2px 4px 0;

    --menu-shadow: 2px 2px 24px 0 hsla(var(--b7), 0.15), 3px 6px 48px 16px hsla(var(--b7), 0.03);

    --interact-shadow: hsla(var(--b7), 0.07) 0 2px 4px 0;
}

[data-theme="light"],
[data-theme="light"] :is(.primary)
{
    /* card border */
    --b4: var(--hue), calc(var(--sat) * 6%), 89%;

    /* card */
    --b5: 0, 0%, 100%;

    /* root */
    --b6: 0, 0%, 98%;
    --b7: 0, 0%, 0%;
}

[data-theme="light"],
[data-theme="light"] :is(button)
{
    --c1: var(--hue), calc(var(--sat) * 6%), 0%;
    --c2: var(--hue), calc(var(--sat) * 4%), 4%;
    --c3: var(--hue), calc(var(--sat) * 10%), 30%;
    --ov-c1: var(--hue), calc(var(--sat) * 40%), 100%;

    --l3: var(--hue), calc(var(--sat) * 50%), calc(var(--lit) * 55%);
    --l4: var(--hue), calc(var(--sat) * 60%), calc(var(--lit) * 25%);

    --l3-c: var(--hue), calc(var(--sat) * 50%), calc(clamp(min(0.5), var(--lit), max(1.5)) * 55%);
    --l4-c: var(--hue), calc(var(--sat) * 60%), calc(clamp(min(0.5), var(--lit), max(1.5)) * 25%);

    --h3: var(--hue), calc(var(--sat) * 50%), calc(clamp(min(0.5), var(--lit), max(1.5)) * 80%);
    --h4: var(--hue), calc(var(--sat) * 60%), calc(clamp(min(0.5), var(--lit), max(1.5)) * 65%);
}

/* attributes */
body {
    --card-padding: 20px;
    --card-radius: 8px;
    --card-shadow: hsla(var(--b7), 0.25) 0 2px 4px 0;
    --card-gap: 15px;

    --cards-main-width: 843px; /* this makes it not 777, the grid looks better okay */
    --cards-sidebar-width: 400px;
    --cards-width: calc(var(--cards-main-width) + var(--cards-sidebar-width) + var(--card-gap));

    --item-small-radius: 4px;
    --item-med-radius: 6px;
    --item-big-radius: 9px;

    --profile-header-avatar-size: 96px;
    --profile-header-avatar-small-size: 54px;
    --profile-header-background-height: 200px;
    --profile-header-background-offset: 33%;

    --shout-avatar-size: 52px;
    --shout-inset: 52px;

    --menu-shadow: 2px 2px 24px 0 hsla(var(--b7), 0.35), 3px 6px 48px 16px hsla(var(--b7), 0.25);

    --noise: url('../img/noise.png');

    --interact-shadow: hsla(var(--b7), 0.1) 0 2px 4px 0;
}


body {
    background-color: hsl(var(--b6));
    color: hsl(var(--c2));
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    color-scheme: dark;
    accent-color: hsl(var(--l3-c));
    text-underline-offset: 3px;

    transition-property: background-color;
    transition-duration: calc(var(--trans) * 7);
    transition-timing-function: var(--trans-function);

    cursor: default;

    /* footer */
    padding-bottom: 104px;

    overflow: overlay;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: hsla(var(--b4), 40%);
    border-radius: 10px;
    background-clip: padding-box;
    width: 5px;
    border: 6px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--l4-c));
    border-radius: 10px;
    background-clip: padding-box;
    width: 5px;
    border: 6px solid transparent;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

b, strong {
    font-weight: 500;
}




/*     BUTTON     */
button, .menu-option {
    --bg: hsl(var(--b4));
    --bg-hov: hsla(var(--b4), 80%);
    --bg-atv: hsla(var(--b4), 60%);
    --col: hsl(var(--c2));
    --col-hov: var(--col);

    background-color: var(--bg);
    color: var(--col);
    padding: var(--padding, 7px 12px);
    min-height: 32px;
    min-width: 32px;
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: var(--force-font-weight, var(--font-weight-medium));
    line-height: var(--line-height);
    border-radius: var(--radius, var(--item-med-radius));
    box-shadow: var(--shadow, var(--interact-shadow));

    display: flex;
    align-items: center;
    gap: 6px;

    border: unset;
    appearance: unset;

    transition-property: background-color, transform, box-shadow, color, opacity;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);
}
button:hover, .menu-option:hover {
    background-color: var(--bg-hov);
    color: var(--col-hov);
}
button:active, .menu-option:active {
    background-color: var(--bg-atv);
    transform: scale(0.98);
}
button:disabled, .menu-option:disabled {
    opacity: 0.5;
    pointer-events: none;
}


/*     HAS ICON     */
.selector {
    position: relative;
}
.selector select {
    padding-right: calc(12px + 16px + 6px);
}
.selector:before {
    content: '';
    display: block !important;
    mask-position: 0 0 !important;
    right: 12px;
    margin-top: -8px !important;
    margin-left: unset !important;
    width: 16px !important;
    height: 16px !important;
    box-shadow: unset !important;
    position: absolute;
    top: 50% !important;
    background-repeat: no-repeat;
    margin-left: unset;
    background-image: unset !important;
    background-color: currentColor;
    pointer-events: none;
    mask-image: var(--mask);
    -webkit-mask-image: var(--mask);
    transition-property: opacity !important;
    transition-duration: var(--trans) !important;
    transition-timing-function: var(--trans-function) !important;
    --mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImhzbCgyNTUsMjAlLDkwJSkiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tZG93biI+PHBhdGggZD0ibTYgOSA2IDYgNi02Ii8+PC9zdmc+');
}


/*     PRIMARY     */
.primary {
    --bg: hsl(var(--h3));
    --bg-hov: hsla(var(--h3), 80%);
    --bg-atv: hsla(var(--h3), 60%);
    --col: hsl(var(--ovr, var(--b7)));
}


.cute {
    --padding: 2px 7px;
    min-width: unset;
    min-height: unset;
}


.love, button[data-type="true"], .loop[data-type="1"] {
    --col: hsl(var(--l3-c));
}
.loop[data-type="2"] {
    --col: hsl(var(--l2-c));
}


/*     SIDE NAV     */
.nav-item, footer button, .back, #view-selector {
    --bg: transparent;
    --bg-hov: hsla(var(--b4), 60%);
    --bg-atv: hsla(var(--b4), 80%);
    --shadow: none;
}
.track-item button {
    --bg: transparent;
    --bg-hov: hsla(var(--b3), 50%);
    --bg-atv: hsla(var(--b3), 70%);
    --shadow: none;
}
[data-theme="light"] .track-item button {
    --bg: transparent;
    --bg-hov: hsla(var(--b3), 20%);
    --bg-atv: hsla(var(--b3), 40%);
    --shadow: none;
}

.artwork button {
    --bg: hsla(var(--b4), 20%);
    --bg-hov: hsla(var(--b4), 40%);
    --bg-atv: hsla(var(--b4), 60%);
    --shadow: none;
}




/*     INPUT     */
input, select, textarea {
    --bg: hsl(var(--b4));
    --bg-hov: hsla(var(--b4), 80%);
    --bg-atv: hsla(var(--b4), 60%);
    --col: hsl(var(--c2));
    --col-hov: var(--col);

    background-color: var(--bg);
    color: var(--col);
    padding: var(--padding, 7px 12px);
    min-height: 32px;
    min-width: 32px;
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: var(--force-font-weight, var(--font-weight));
    border-radius: var(--radius, var(--item-med-radius));
    box-shadow: var(--shadow, var(--interact-shadow));
    outline: unset !important;

    display: flex;
    align-items: center;
    gap: 6px;

    border: unset;
    appearance: unset;
    box-sizing: border-box;

    transition-property: background-color, transform, box-shadow, color, opacity;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);
}
:is(input, select, textarea):hover {
    background-color: var(--bg-hov);
    color: var(--col-hov);
}
:is(input, select, textarea):active {
    background-color: var(--bg-atv);
}




/*     CARDS     */
main {
    display: flex;
    justify-content: center;
    padding-top: var(--card-gap);
}

.cards {
    display: flex;
    gap: var(--card-gap);
}
.cards > .cards {
    flex-direction: column;
}

.card, footer {
    background-color: hsl(var(--b5));
    border: 1px solid hsl(var(--b4));
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    padding: var(--card-padding);

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    transition-property: background-color, border;
    transition-duration: calc(var(--trans) * 7);
    transition-timing-function: var(--trans-function);
}

.main {
    width: var(--cards-main-width);
}
.side {
    width: var(--cards-sidebar-width);
}

.card.artwork {
    padding: unset;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    position: relative;
    background-color: hsl(var(--b5));
    border-radius: var(--card-radius);
}
.card.artwork .overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    width: unset;
    height: unset;
    z-index: unset;
    pointer-events: unset;
    transition: unset;
    padding: var(--card-padding);
    transition-property: opacity;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);
}
.card.artwork:hover .overlay {
    opacity: 1;
}
.card.artwork img {
    box-shadow: unset;
    border: unset;
    border-radius: unset;
    width: var(--cards-sidebar-width);
}

.card.column {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap);
}




/*     TEXT     */
h1 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    color: hsl(var(--c1));
}
h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: hsl(var(--c1));
}

#album-title {
    margin-bottom: 2px;
}
#album-artist-title {
    margin-bottom: var(--card-gap);
    color: hsl(var(--c2));
}

h3 {
    font-weight: 500;
    color: hsl(var(--c1));
}

.head {
    margin-bottom: 12px;
}

.buttons {
    display: flex;
    align-items: center;
}
.buttons .fill {
    flex: 1;
}

.buttons > div {
    display: flex;
    gap: 6px;
}


.w-16 {
    width: 16px;
    height: 16px;
    stroke-width: 2.5px;
}
.w-32 {
    width: 32px;
    height: 32px;
}
.w-48 {
    width: 48px;
    height: 48px;
}




/*     PLAYER     */
footer {
    position: fixed;
    width: calc(var(--cards-width) + (var(--card-gap) * 2));
    /* the artist and title combo makes it taller */
    padding: calc(var(--card-padding) - 2px) var(--card-padding);
    bottom: var(--card-gap);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    background-color: hsla(var(--b5), 90%);
    backdrop-filter: blur(10px) saturate(120%);
    box-shadow: var(--menu-shadow);

    flex-direction: row;
    gap: calc(var(--card-gap) * 3);
    z-index: 1;
}
body:before {
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 80px;
    background: linear-gradient(180deg, transparent 0%, hsl(var(--b6)) 100%);
    pointer-events: none;
    z-index: 1;
}

footer .actions {
    display: flex;
    align-items: center;
    gap: 4px;
}

footer button {
    --padding: 7px;
}

footer .shuffle {
    margin-left: calc(var(--card-gap) - 4px);
}


/* play/pause */
.play-pause[data-type='Paused'] .playing,
.play-pause[data-type='Stopped'] .playing,
.play-pause[data-type='Playing'] .paused,
/* loop */
.loop:not([data-type="2"]) .once, .loop[data-type="2"] .none,
/* theme */
[data-theme="dark"] footer .theme :is(.oled, .light),
[data-theme="oled"] footer .theme :is(.dark, .light),
[data-theme="light"] footer .theme :is(.dark, .oled)
{
    display: none;
}

.love {
    --hue: -2;
    --sat: 1;
    --lit: 1;
}
.love[data-type="true"] svg {
    fill: currentColor;
}




footer .player-bar {
    display: flex;
    align-items: center;
    gap: var(--card-gap);
    flex: 1;
    font-size: calc(var(--font-size) - 1px);
}

.duration {
    color: hsl(var(--c3));
}

.bar {
    display: flex;
    align-items: center;
    flex: 1;
    height: 2px;
    background-color: hsl(var(--b4));
    transition-property: background-color, border;
    transition-duration: calc(var(--trans) * 7);
    transition-timing-function: var(--trans-function);
}
.bar .fill {
    height: 4px;
    background-color: hsl(var(--l3-c));
    border-radius: 50px;
    box-shadow: 0 0 20px 4px hsl(var(--l4-c));
    transition-property: background-color, box-shadow, width;
    transition-duration: calc(var(--trans) * 7);
    transition-timing-function: var(--trans-function);
}

[data-theme="light"] .bar .fill {
    box-shadow: 0 0 20px 4px hsla(var(--l4-c), 50%);
}


footer .track-info {
    min-width: 300px;
    display: flex;
    align-items: center;
    gap: 6px;
}
/*footer .track-info .artist {
    font-size: calc(var(--font-size) - 2px);
    line-height: calc(var(--line-height) - 4px);
}*/
footer .track-info .artwork {
    --w: 36px; /* 32 if the above is enabled ^ */
    display: flex;
    align-items: center;
}




/*     GENERAL TRACK STUFF     */
.track {
    color: hsl(var(--c2));
}
.artist {
    color: hsl(var(--c3));
}
.date {
    color: hsla(var(--c3), 80%);
    font-size: calc(var(--font-size) - 1px);
}

:is(.track-item, .track-info) :is(.track, .artist span) {
    transition-property: color;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);
}
:is(.track-item, .track-info) :is(.track, .artist span):hover {
    color: hsl(var(--c1));
}

.artwork {
    display: flex;
    justify-content: center;
    align-items: center !important;
    color: hsl(var(--c3));
    background-color: hsla(var(--b6),50%);
    border-radius: var(--item-med-radius);
}
.artwork img {
    width: var(--w);
    height: var(--w);
    border: 1px solid hsl(var(--b4));
    border-radius: var(--item-med-radius);
    box-shadow: var(--interact-shadow);
    box-sizing: border-box;
    transition-property: background-color, border;
    transition-duration: calc(var(--trans) * 7);
    transition-timing-function: var(--trans-function);
}




/*     SIDE NAV     */
nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 90px;
    padding: var(--card-padding) 0 var(--card-padding) var(--card-padding);
    overflow-y: hidden;
}
nav:hover {
    overflow-y: auto;
}

nav .head, .head.flex {
    display: flex;
}
nav .head h3, .head.flex h1, .head.flex h2, .head.flex h3 {
    flex: 1;
}
nav .head button {
    --padding: 3px;
    min-width: unset;
    min-height: unset;
}

nav ul {
    margin-left: -12px;
}




/*     TOOLTIP     */
.tippy-box {
    background-color: hsl(var(--b5));
    border: 1px solid hsl(var(--b4));
    color: hsl(var(--c2));
    font-size: calc(var(--font-size) - 1px);
    line-height: calc(var(--line-height) - 2px);
    text-align: center;
    padding: 0 2px;
    border-radius: var(--item-med-radius);
    box-shadow: var(--menu-shadow);
    width: fit-content;
    max-width: 650px !important;
    transition-property: background-color, border, color, box-shadow, transform, visibility, opacity;
    transition-duration: calc(var(--trans) * 7);
    transition-timing-function: var(--trans-function);
}
.tippy-arrow {
    display: none;
}

.tippy-box button {
    font-size: calc(var(--font-size) - 1px);
}


/*     QUEUE     */
.queue-content {
    padding: 6px calc(6px - 2px);
    text-align: left;
    min-width: 450px;
}
.queue {
    max-height: 80vh;
    overflow-y: hidden;
}
.queue:hover {
    overflow-y: overlay;
}


/*     VOLUME     */
.volume-content {
    padding: 6px calc(6px - 2px);
    width: 250px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.volume-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
}

.volume-content button {
    --padding: 5px;
    min-width: 26px;
    min-height: 26px;
}

[data-volume-step="-1"] :is(.vol-0, .vol-1, .vol-2),
[data-volume-step="0"] :is(.vol-1, .vol-2, .vol-mute),
[data-volume-step="1"] :is(.vol-0, .vol-2, .vol-mute),
[data-volume-step="2"] :is(.vol-0, .vol-1, .vol-mute)
{
    display: none;
}


[data-volume-step="-1"] .bar .fill {
    background-color: hsl(var(--b3));
    box-shadow: unset;
}




/*     ALBUM GRID     */
.album-grid {
    display: grid;
    gap: var(--card-gap);
    grid-template-columns: repeat(auto-fill, minmax(180px, 189px));
}

.album-grid-container, .library-grid-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.album-grid-item {
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 10px;
    --padding: 10px;
    --radius: var(--item-med-radius);
    --bg: hsla(var(--b4), 20%);
    --bg-hov: hsla(var(--b4), 35%);
    --bg-atv: hsla(var(--b4), 50%);
    --shadow: none;
    animation: chip_in 0.3s;
    animation-timing-function: var(--trans-function);
}

.album-grid-item .artwork {
    --w: 100%;
    display: flex;
    align-items: baseline;
    aspect-ratio: 1 / 1;
}

.album-grid-item .details {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
}


[data-grid-view="Album"] :is(.hide-for-album-view, [data-album-release="Single"], [data-album-release*="EP"], [data-album-release="DJ Mix"], [data-album-release="B-Sides"], [data-album-release="Bootleg"]),
[data-grid-view="Single"] :is(.hide-for-single-view, [data-album-release*="Album"], [data-album-release*="EP"], [data-album-release="DJ Mix"], [data-album-release="B-Sides"], [data-album-release="Bootleg"], [data-album-release*="Compilation"]),
[data-grid-view="EP"] :is(.hide-for-ep-view, [data-album-release="Single"], [data-album-release*="Album"], [data-album-release="DJ Mix"], [data-album-release="B-Sides"], [data-album-release="Bootleg"], [data-album-release*="Compilation"]),
[data-grid-view="DJ Mix"] :is(.hide-for-dj-view, [data-album-release*="Album"], [data-album-release*="EP"], [data-album-release="Single"], [data-album-release="B-Sides"], [data-album-release="Bootleg"], [data-album-release*="Compilation"]),
[data-grid-view="B-Sides"] :is(.hide-for-bside-view, [data-album-release="Single"], [data-album-release*="Album"], [data-album-release="DJ Mix"],  [data-album-release*="EP"], [data-album-release*="Compilation"])
{
    display: none;
}




/*     ALBUM PAGE     */
.release-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.release-details .detail-row {
    display: flex;
}

.release-details .detail-row .label {
    flex: 1;
    color: hsl(var(--c3));
}
.release-details .detail-row .value {
    flex-shrink: 0;
}




/*     TRACKLIST     */
.track-item {
    --bg: transparent;
    --bg-hov: hsla(var(--b4), 80%);
    padding: 5px 12px;
    background-color: var(--bg);
    color: var(--col);
    border-radius: var(--item-small-radius);

    display: flex;
    align-items: center;
    gap: 12px;

    transition-property: background-color, transform, box-shadow, color, opacity;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);
    animation: chip_in 0.3s;
    animation-timing-function: var(--trans-function);
}
.track-item:nth-child(odd) {
    --bg: hsla(var(--b4), 40%);
}
.track-item.primary {
    --bg: hsla(var(--h4), 30%) !important;
    --bg-hov: hsla(var(--h4), 45%) !important;
}
.track-item:hover {
    background-color: var(--bg-hov);
}

.tracklists-container, .tracklist-container-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tracklist-container-inner::marker {
    display: none;
}
.disc-title {
    padding: 0 12px;
    color: hsl(var(--c2));
}

.track-item .position {
    text-align: right;
    min-width: 24px;
    color: hsl(var(--c3));
}

.track-item.primary .position {
    color: transparent;
    position: relative;
}
.track-item.primary .position:after {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 0;
    width: 12px;
    height: 12px;
    --mask: url('../img/playing.gif');
    mask-image: var(--mask);
    -webkit-mask-image: var(--mask);
    background-color: hsl(var(--c2));
}

.track-item .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.tracklist .track-item.artist-same .artist {
    display: none;
}
.track-item .track {
    width: fit-content;
}

.track-item .length {
    color: hsl(var(--c3));
    font-size: calc(var(--font-size) - 1px);
}

.track-item .actions {
    display: flex;
    gap: 4px;
    transition-property: opacity;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);
}
.track-item:not(:hover) .actions {
    opacity: 0.35;
}
.track-item button {
    --padding: 5px;
    min-width: 26px;
    min-height: 26px;
}

.tracklist .queue-remove,
.queue :is(.queue-next, .queue-last, .queue-album-from)
{
    display: none;
}


.back {
    width: fit-content;
}




/*     DROPDOWN     */
.dropdown-content {
    padding: 6px calc(6px - 2px);
    width: 200px;
}
.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-option {
    --bg: transparent;
    --bg-hov: hsla(var(--b4), 60%);
    --bg-atv: hsla(var(--b4), 80%);
    --shadow: none;
    box-sizing: border-box;
}

[data-theme="light"] .menu-option.light,
[data-theme="dark"] .menu-option.dark,
[data-theme="oled"] .menu-option.oled
{
    --bg: hsla(var(--l4), 20%);
    --bg-hov: hsla(var(--l4), 40%);
    --bg-atv: hsla(var(--l4), 60%);
}




/*     MARKDOWN     */
.md p:not(:first-child) {
    margin-top: 6px;
}
.md p:not(:last-child) {
    margin-bottom: 6px;
}